

/* Seletor para a barra de navegação superior. */
.topbar {
    height: 70px; /* Define uma altura fixa de 70 pixels para a barra. */
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important; /* Adiciona uma sombra sutil para dar profundidade, com !important para garantir prioridade. */
    /*border-bottom: 1px solid black; /* Adiciona uma borda preta sólida de 1 pixel na parte inferior da barra. */
    /*position: relative; /* Garante que o z-index funcione */
    /*z-index: 1030;      /* Um valor alto para ficar na frente */
}


/* Estilo para os links de navegação dentro da barra superior. */
.topbar .nav-link {
    color: #858796; /* Define a cor padrão do texto dos links para um cinza. */
}

/* Estilo aplicado quando o mouse passa por cima de um link na barra superior. */
.topbar .nav-link:hover {
    color: #5a5c69; /* Escurece a cor do texto do link para indicar interatividade. */
}