
.topbar {
    height: 70px;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    position: relative; /* Garante que o z-index funcione */
    z-index: 1030;      /* Um valor alto para ficar na frente */
}


/*
.topbar {
    height: 70px;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}
*/
.topbar .nav-link {
    color: #858796;
    
}

.topbar .nav-link:hover {
    color: #5a5c69;
}